<mat-card>
	<mat-card-content>
		<div>

			<form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="example-form">
				<h4> User Sign-up Form </h4>
				<mat-input-container class="example-full-width">
					<input #emailIdSpy matInput name="emailId" placeholder="Email" type="email" required [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
					 #emailId="ngModel">
					<mat-error *ngIf="!emailId.valid && emailId.errors.required">
						Email is <strong>required</strong>
					</mat-error>
					<mat-error *ngIf="!emailId.valid && emailId.errors.pattern">
						Entered Email Did not match the pattern of type user@abc.com
					</mat-error>
					<BR />

				</mat-input-container>
				<p>Email ID Spy {{emailIdSpy.className}}</p>
				<BR />
				<mat-input-container class="example-full-width">
					<input #passwordSpy matInput name="password" placeholder="Password" type="password" required [(ngModel)]="password" #passwordRef="ngModel"
					 minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
					<mat-hint *ngIf="!passwordRef.valid || !passwordRef.touched " align="start">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</mat-hint>
					<mat-error *ngIf="!passwordRef.valid && passwordRef.errors.required">
						Password is <strong>required</strong>
					</mat-error>
					<mat-error *ngIf="!passwordRef.valid && passwordRef.errors.pattern">
						Must contain at least one number and one uppercase and lowercase letter.
					</mat-error>
					<mat-error *ngIf="!passwordRef.valid && passwordRef.errors.minlength">
						Minimum 8 Characters required
					</mat-error>
				</mat-input-container>
				<BR />
				<p style="margin-top:30px">Password Spy {{passwordSpy.className}}</p>
				<BR />
				<BR/>
				<mat-input-container class="example-full-width">
					<input matInput name="confirmPassword" placeholder="Confirm Password" type="password" required [(ngModel)]="confirmPassword"
					 #confirmPasswordRef="ngModel" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
					<mat-hint *ngIf="!confirmPasswordRef.valid || !confirmPasswordRef.touched " align="start">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</mat-hint>
					<mat-error *ngIf="!confirmPasswordRef.valid && confirmPasswordRef.errors.required">
						Password is <strong>required</strong>
					</mat-error>
					<mat-error *ngIf="!confirmPasswordRef.valid && confirmPasswordRef.errors.pattern">
						Must contain at least one number and one uppercase and lowercase letter.
					</mat-error>
					<mat-error *ngIf="!confirmPasswordRef.valid && confirmPasswordRef.errors.minlength">
						Minimum 8 Characters required
					</mat-error>
					<mat-error *ngIf="( confirmPasswordRef.dirty && (confirmPasswordRef.value != passwordRef.value) )">
						Password Entered & Confirm Password do not match
					</mat-error>
				</mat-input-container>
				<BR/>
				<BR/>
				<BR/>
				<button mat-raised-button color="primary" [disabled]="!registerForm.valid" type="submit">Submit</button>
			</form>
		</div>


	</mat-card-content>
</mat-card>